header{
	top: 0%;
	left: 0%;
	display: flex;
	background-color: #0D2E41;
	width: 100%;
	height: 100%;
}
h1{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
}
img{

	border-radius: 25px;
 	width: 50%;
	margin-right: auto;
}
p{
	font-size: 24px;
}
body{
	background: fixed;
	background: #0D2E41;
	display: grid;
	font-family: sans-serif;
	color: white;
	font-size: auto;
}
a{
	text-decoration: none;
	width: auto;
	font-size: 30px;
	color: white;
}

#head{
	margin: 45px;
	
}
#scroll{
	display: grid;
	width: auto;
	height: auto;
}
.logo{
	height: 130px;
	width: 130px;
}
.button{
	font-family: sans-serif;
	font-size: 30px;
	color: white;
	margin-left: 40px;
	
	border-radius: 10px;
	padding: 3px;
}
.shop{
	display: flex;
	margin-left: auto;
	margin-right: auto
	


}
.product{
	border: 3px solid white;
	display: flex;
	width: 370px;
	height: auto;
	padding: 15px;
	background-color: #0D2E41;
	border-radius: 20px;
	margin: 20px;
}



.button:hover{
	color:  rgb(0, 122, 138);
	border-color: rgb(0, 122, 138);

}
.product:hover{
	color: rgb(0, 122, 138);
	border-color: rgb(0, 122, 138);
}






@media (max-width: 900px) or (max-device-width: 900px){
	header{
		display: grid;
		height: 100%;

	}
	p{
		margin: 10%;
	}
	a{
		height: 100%;
	}
	img{
		width: 100%;
		
		margin-left: auto;
		margin-right: auto;
	}
	#head{
		display: grid;
		margin: 10px;

	}
	.button{
		text-align: center;
		margin: 3px;
		margin-left: 5px;
		margin-right: 5px;
		font-size: auto;
	}
	.logo{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: auto;
	    height: auto;
		width: 30%;
	}
	.shop{
		display: flex;
		margin-left: auto;
		margin-right: auto

	}
	.product{
		display: grid;
		width: auto;
		height: auto;
		padding: 15px;
		border-radius: 20px;
		margin: 15px;
	}

}

.img{
	height: 100%;
 	width: auto;
 	border-radius: 40px;
}
#slideshow {
  overflow: hidden;
  height: 420px;
  width: 420px;
  margin: 0 auto;
}
 
/* Style each of the sides
with a fixed width and height */
.slide {
  float: left;
  height: 420px;
  width: 728px;

}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}
 
/* Set the background color
of each of the slides */
 
/* Define the animation
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }
}
